/* Comienza declaracion de valores generales */

/* Valores fijos */

/* Probando los branch */

* {
    margin: 0;
}

h1 {
    font-family: 'Noto Serif';
    font-size: 300%;
    font-style: italic;
}

h2 {
    font-size: 35px;
    color: #707070;
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 23px;
}

/* Comienza footer */

footer {
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-items: start;
    justify-content: left;
    margin-top: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
}

footer ul li,
footer ul li a {
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 5px;
}

footer ul li a i{
    padding-right: 5px;
}

footer ul li h3 {
    font-size: 18px;
    color: white;
}

footer ul li:hover,
footer ul li a:hover {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

/* Finaliza footer */

/* Finaliza declaracion de valores generales */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/*Inicio CSS Index.html */

/*Comienza Foto*/

.hero {
    height: 700px;
    background-image: url("../images/people-g9c568e8fa_1920.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.contenedorDeTexto {
    padding: 0;
    height: 100%;
    font-size: 200%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff
}

/*Finaliza Foto*/


/* Comienza Predicas */

.tituloPredicas {
    margin: auto;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.boton {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}

#cardVideoInicio {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
}

/* Finaliza predicas */


/* Comienza oracion */

.heroOracionContactanos {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.contenedorDeTextoAtajo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heroOracionContactanos h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.heroOracionContactanos a {
    width: 200px;
    height: 50px;
    line-height: 50px;
}

/* Finaliza oracion */

/*Finaliza CSS Index.html */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Inicio CSS Oracion.html */

/* Comienzo imagen */

.heroOracion {
    background-image: url("../images/grid_54a374d2a749070d6c71fb28829887fc.jpg");
}

.contenedorDeTextoOracion {
    font-size: 200%
}

/* Finaliza imagen */

/* Inicia Formulario */

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#floatingName,
#floatingMail,
#floatingPhone,
#floatingAge,
#floatingMotivo {
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
}

textarea:focus {
    border: 3px solid #555;
}

#btnOracion {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: all 1s;
}

#btnOracion:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Finaliza formulario */

/* Finaliza CSS Oracion.html */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Comienza CSS contactanos.html */

.heroContactanos {
    background-image: url("../images/people-g9c568e8fa_1920.jpg");
}

.contenedorDeTextoContactanos {
    font-size: 200%
}

.contactanos {
    font-size: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.principalContactanos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}


/* Finaliza CSS Contactanos.html */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Comienza CSS conocenos.html */

.heroConocenos {
    background-image: url("../images/people-g9c568e8fa_1920.jpg");
}

.contenedorDeTextoConocenos {
    font-size: 200%
}

.Info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.InfoImagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#textoInfo {
    width: 50%;
}

#carouselExampleIndicators img{
    height: 100%;
}

.Info img {
    width: 300px;
    height: 300px;
}

.contenedorDeImagenesMin {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 15px;
    column-gap: 15px;
}

#imagePrincipal {
    padding: 25px;
}

/* Finaliza CSS Conocenos.html */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Comienza CSS Videos.html */

.contenedorDeTextoVideos {
    font-size: 200%;
}

#cardVideo {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
}

.btnVerCanal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
    justify-content: center;
}


/* Finaliza CSS Videos.html */

/* Finaliza edicion principal codigo  */

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/* Comienzan mediasQuerys */

@media screen  and (max-width: 1325px) and (min-width: 1024px) {
    #cardVideoInicio {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 225px);
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    footer {
        display: grid;
        grid-template-columns: repeat(1, 202px);
    }

    .contenedorDeImagenesMin {
        display: grid;
        grid-template-columns: 300px;
        row-gap: 15px;
        justify-items: center;
    }

    .Info img {
        width: 250px;
        height: 250px;
    }

    .contenedorDeTexto {
        font-size: 120%
    }

    .heroOracionContactanos {
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }

    .contenedorDeTextoAtajo {
        height: 180px;
        width: 300px;
    }

    #cardVideo, #cardVideoInicio {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) and (min-width:600px) {

    .contenedorDeImagenesMin {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        row-gap: 15px;
        column-gap: 15px;
    }

    .heroOracionContactanos {
        display: grid;
        grid-template-columns: repeat(1, 500px);
    }

    .contenedorDeTextoAtajo {
        height: 300px;
        width: 500px;
    }

    #cardVideo, #cardVideoInicio {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 275px);
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) and (min-width:600px) {
    footer {
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }
}

/* Finalizan mediasQuerys */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */