.heroConocenos {
    @include backImage("../images/people-g9c568e8fa_1920.jpg", 700px);
}

.contenedorDeTextoConocenos {
    font-size: 200%
}

.Info {
    @extend %flexColumn;
}

.InfoImagen {
    @extend %flexRow;
}

#textoInfo {
    width: 50%;
}

#carouselExampleIndicators img{
    height: 100%;
}

.contenedorDeImagenesMin {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 15px;
    column-gap: 15px;
}

.cardMinisterios{
    border-radius: 5px;
}

.img-wrapper{
   width: 100%;
   height: 100%;
   @extend %flexColumn;
   background: rgba(0, 0, 0, 0.4);
   opacity: 0;
   transition: 0.5s;

    h2{
        color: map-get($map: $colors, $key: blanco);
    }
}

.cardMinisterios:hover .img-wrapper{
    opacity: 1;
}

#cardJovenes{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#cardPre{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#cardAdos{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#cardMatri{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#cardPast{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#cardNinos{
    @include backImage("../images/JTN.jpg", 300px, 300px);
}

#imagePrincipal {
    width: 300px;
    height: 300px;
    padding: 25px;
}