.heroConocenos {
    background-image: url("../images/people-g9c568e8fa_1920.jpg");
}

.contenedorDeTextoConocenos {
    font-size: 200%
}

.Info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.InfoImagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#textoInfo {
    width: 50%;
}

#carouselExampleIndicators img{
    height: 100%;
}

.contenedorDeImagenesMin {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 15px;
    column-gap: 15px;
}

.cardMinisterios{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.img-wrapper{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.4);
   opacity: 0;
   transition: 0.5s;

    h2{
        color: #ffffff;
    }
}

.cardMinisterios:hover .img-wrapper{
    opacity: 1;
}

#cardJovenes{
    background-image: url("../images/JTN.jpg");
}

#cardPre{
    background-image: url("../images/JTN.jpg");
}

#cardAdos{
    background-image: url("../images/JTN.jpg");
}

#cardMatri{
    background-image: url("../images/JTN.jpg");
}

#cardPast{
    background-image: url("../images/JTN.jpg");
}

#cardNinos{
    background-image: url("../images/JTN.jpg");
}

#imagePrincipal {
    width: 300px;
    height: 300px;
    padding: 25px;
}