footer {
    background-color: map-get($map: $colors, $key: negro);
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-items: start;
    justify-content: left;
    margin-top: 25px;
    padding-bottom: 15px;
    padding-top: 10px;

    ul {

        li,
        a {
            text-decoration: none;
            color: map-get($map: $colors, $key: grisFooter);
            display: block;
            font-size: 15px;
            font-weight: lighter;
            text-align: left;
            padding-bottom: 5px;
        }

        li {
            a i {
                padding-right: 5px;
            }

            h3{
                font-size: 18px;
                color: map-get($map: $colors, $key: blanco);
            }

            a:hover{
                color: map-get($map: $colors, $key: blanco);
                font-size: 16px;
            }
        }
    }
}