.heroMinisterio{
    @include backImage("../images/people-g9c568e8fa_1920.jpg", 700px);
}

.contenedorDeTextoMinisterio{
    font-size: 200%;
    background-color: map-get($map: $colors, $key: negro0_4);
}

#contenidoMinisterio{
    @extend %flexColumn;
}

.ContHorarios, .ContMinistro{
    margin: 20px 100px 20px 100px; 
    @extend %flexColumn;
}

.ImageArea{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.InfoImagen h2{
    padding: 5px;
}