
/* Comienzo imagen */

.heroOracion {
    @include backImage("../images/people-g9c568e8fa_1920.jpg", 700px);
}

.contenedorDeTextoOracion {
    font-size: 200%;
    background-color: map-get($map: $colors, $key: negro0_4);
}

/* Finaliza imagen */

/* Inicia Formulario */

.form {
    @extend %flexColumn;
}

#floatingName,
#floatingMail,
#floatingPhone,
#floatingAge,
#floatingMotivo {
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid map-get($map: $colors, $key: negro);
}

#btnOracion {
    background-color: map-get($map: $colors, $key: negro);
    color: map-get($map: $colors, $key: blanco);
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: all 1s;

    :hover {
        background-color: map-get($map: $colors, $key: blanco);
        color: map-get($map: $colors, $key: negro);
    }
}

/* Finaliza formulario */