@import "./partials/extends.scss",
        "./partials/mixins.scss",
        "./partials/maps.scss",
        "./partials/footer.scss",
        "./partials/index.scss",
        "./partials/conocenos.scss",
        "./partials/oracion.scss",
        "./partials/predicas.scss",
        "./partials/contactanos.scss",
        "./partials/mediasQueries.scss";

* {
    margin: 0;
}

h1 {
    font-family: 'Noto Serif';
    font-size: 300%;
    font-style: italic;
}

h2 {
    font-size: 35px;
    color: map-get($map: $colors, $key: grisH2);
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 23px;
}