.redesContact, .btnVerCanal, .InfoImagen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form, .img-wrapper, .Info, .contenedorDeTextoAtajo, .contenedorDeTexto, .ContHorarios, .ContMinistro, #contenidoMinisterio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.heroMinisterio {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTextoMinisterio {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.4);
}

.ContHorarios, .ContMinistro {
  margin: 20px 100px 20px 100px;
}

.ImageArea {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

.InfoImagen h2 {
  padding: 5px;
}

footer {
  background-color: rgb(0, 0, 0);
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  align-items: start;
  justify-content: left;
  margin-top: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
}
footer ul li,
footer ul a {
  text-decoration: none;
  color: rgb(187, 187, 187);
  display: block;
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 5px;
}
footer ul li a i {
  padding-right: 5px;
}
footer ul li h3 {
  font-size: 18px;
  color: rgb(255, 255, 255);
}
footer ul li a:hover {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

/*Comienza Foto*/
.hero {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTexto {
  padding: 0;
  height: 100%;
  font-size: 200%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.4);
}

/*Finaliza Foto*/
/* Comienza Predicas */
.tituloPredicas {
  margin: auto;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.boton {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

#cardVideoInicio {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
}

/* Finaliza predicas */
/* Comienza oracion */
.heroOracionContactanos {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.heroOracionContactanos h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.heroOracionContactanos a {
  width: 200px;
  height: 50px;
  line-height: 50px;
}

.contenedorDeTextoAtajo {
  height: 100%;
  width: 100%;
}

/* Finaliza oracion */
.heroConocenos {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTextoConocenos {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.4);
}

#textoInfo {
  width: 50%;
}

#carouselExampleIndicators img {
  height: 100%;
}

.contenedorDeImagenesMin {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.contenedorDeImagenesMin a {
  text-decoration: none;
}

.cardMinisterios {
  border-radius: 5px;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}
.img-wrapper h2 {
  color: rgb(255, 255, 255);
}

.cardMinisterios:hover .img-wrapper {
  opacity: 1;
}

#cardJovenes {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

#cardPre {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

#cardAdos {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

#cardMatri {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

#cardMisiones {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

#cardNinos {
  height: 300px;
  width: 300px;
  background-image: url("../images/JTN.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

/* Comienzo imagen */
.heroOracion {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTextoOracion {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Finaliza imagen */
/* Inicia Formulario */
#floatingName,
#floatingMail,
#floatingPhone,
#floatingAge,
#floatingMotivo {
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
}

#btnOracion {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: all 1s;
}
#btnOracion :hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Finaliza formulario */
.heroVideos {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTextoVideos {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.4);
}

#cardVideo {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
}

.btnVerCanal {
  padding: 25px;
}

.heroContactanos {
  height: 700px;
  background-image: url("../images/people-g9c568e8fa_1920.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}

.contenedorDeTextoContactanos {
  font-size: 200%;
  background-color: rgba(0, 0, 0, 0.4);
}

#map {
  width: 100%;
  height: 500px;
}

.formContactanos {
  padding: 20px;
  height: 500px;
}

#floatingNombre, #floatingTelefono, #floatingMensaje {
  margin-top: 20px;
}

.redesContact a {
  color: rgb(255, 255, 255);
  padding-right: 15px;
  padding-left: 15px;
  font-size: 35px;
}

.contactData {
  background-color: rgb(0, 0, 0);
  height: 500px;
}
.contactData h2, .contactData p {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contactanos {
  font-size: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.principalContactanos {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

/* Comienzan mediasQuerys */
@media screen and (max-width: 1325px) and (min-width: 1024px) {
  #cardVideoInicio {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 225px);
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: repeat(1, 202px);
  }
  .contenedorDeImagenesMin {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 15px;
    justify-items: center;
  }
  .Info img {
    width: 250px;
    height: 250px;
  }
  .contenedorDeTexto {
    font-size: 120%;
  }
  .heroOracionContactanos {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
  .contenedorDeTextoAtajo {
    height: 180px;
    width: 300px;
  }
  #cardVideo, #cardVideoInicio {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
  }
  .principalContactanos {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  #tituloMinisterio {
    font-size: 200%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 600px) {
  .contenedorDeImagenesMin {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    row-gap: 15px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .heroOracionContactanos {
    display: grid;
    grid-template-columns: repeat(1, 500px);
  }
  .contenedorDeTextoAtajo {
    height: 300px;
    width: 500px;
  }
  #cardVideo, #cardVideoInicio {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 275px);
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
  }
  .contactData {
    grid-area: contactDataGrid;
  }
  .formContactanos {
    grid-area: formContactanosGrid;
  }
  .map {
    grid-area: mapaGrid;
  }
  .principalContactanos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "contactDataGrid mapGrid" "formContactanosGrid formContactanosGrid";
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
}
@media screen and (max-width: 535px) {
  .ContHorarios, .ContMinistro {
    margin: 20px 35px 20px 35px;
  }
}
* {
  margin: 0;
}

h1 {
  font-family: "Noto Serif";
  font-size: 300%;
  font-style: italic;
}

h2 {
  font-size: 35px;
  color: rgb(112, 112, 112);
  padding: 5px;
  text-align: center;
}

h3 {
  font-size: 23px;
}/*# sourceMappingURL=styles.css.map */