@import "./partials/extends",
        "./partials/mixins",
        "./partials/maps",
        "./partials/footer.scss",
        "./partials/index.scss",
        "./partials/conocenos.scss",
        "./partials/oracion",
        "./partials/predicas",
        "./partials/contactanos";

* {
    margin: 0;
}

h1 {
    font-family: 'Noto Serif';
    font-size: 300%;
    font-style: italic;
}

h2 {
    font-size: 35px;
    color: map-get($map: $colors, $key: grisH2);
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 23px;
}